:root{
    --background-primary: #121113;
    --foreground-primary:#121113;
    --foreground-segundary:#21121d;
    --boder-primary:#3c393f;
    --boder-segundary:#692955;
    --primary:#d6409f;
    --segundary:#232225;
    --text-color:whitesmoke;
    --text-color-question:#b5b2bc;
    --text-color-disabled:#6f6d78;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;


  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

body {
    background-color: var(--background-primary);
    color: var(--text-color);
}

button {
    background-color: gold;
}

.Background {
    background-color: purple;
    width:100%;
    height: 100vh;
    display: flex;
}